---
import { encrypt } from "@utils/encrypt";

export interface Props {
    password: string;
}

const html = await Astro.slots.render("default");
const encryptedHtml = await encrypt(html, Astro.props.password);
---

<meta name="encrypted" content={encryptedHtml} />

<form id="decrypt-form" class="flex items-center justify-center gap-2 mb-4">
    <input
        id="password"
        class="w-auto rounded border border-[var(--line-color)] border-opacity-40 bg-[var(--card-bg)] p-2 text-[var(--deep-text)]
                placeholder:italic placeholder:text-[var(--inline-code-color)] placeholder:opacity-75
                focus:border-[var(--primary)] focus:outline-none transition"
        placeholder="Enter password"
        type="password"
        autocomplete="off"
        autofocus
        aria-label="Enter password to decrypt article"
    />
    <button
        id="password-btn"
        class="bg-[var(--enter-btn-bg)] rounded-md
                border border-[var(--line-color)] border-opacity-50 p-2
                text-[var(--btn-content)]
                hover:bg-[var(--enter-btn-bg-hover)] hover:border-[var(--primary)] transition"
        type="submit"
        aria-label="Decrypt article"
    >
        解密文章
    </button>
</form>

<script is:inline data-astro-rerun>
    async function decrypt(data, key) {
        key = key.padEnd(16, "0");

        const decoder = new TextDecoder();
        const dataBuffer = new Uint8Array(
            atob(data)
                .split("")
                .map((c) => c.charCodeAt(0)),
        );
        const keyBuffer = new TextEncoder().encode(key);

        const cryptoKey = await crypto.subtle.importKey(
            "raw",
            keyBuffer,
            { name: "AES-CBC", length: 256 },
            false,
            ["decrypt"],
        );

        const iv = dataBuffer.slice(0, 16);
        const encryptedData = dataBuffer.slice(16);

        const decryptedData = await crypto.subtle.decrypt(
            { name: "AES-CBC", iv },
            cryptoKey,
            encryptedData,
        );

        return decoder.decode(decryptedData);
    }

    function prepare() {
        const encrypted = document
            .querySelector("meta[name=encrypted]")
            ?.getAttribute("content");
        const input = document.getElementById("password");
        const form = document.getElementById("decrypt-form");
        const article = document.querySelector("#article");

        if (!form) return;
        if (form._haveHandler) return;
        form._haveHandler = true;
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const password = input.value;
            try {
                const html = await decrypt(encrypted, password);
                article.innerHTML = html;
            } catch (e) {
                alert("Incorrect password or not using HTTPS.");
            }
        });
    }

    prepare();
    document.addEventListener("astro:after-swap", prepare);
</script>
